h1 {font-size: 50px
	margin: 5px;
	font-family: 'PT Sans', sans-serif;
}

h2 {color: gray;
	font-family: 'PT Sans', sans-serif;
}

.borders {border-radius: 25px
			width: 400px;
			padding: 20px;

}
.navig {text-decoration: none
		padding:10px;
		padding-left: 0px;
		padding-bottom: 10px;
		font-family: 'PT Sans', sans-serif;
}

h3 {
	font-family: 'PT Sans', sans-serif;
}

p {
	font-family: 'PT Sans', sans-serif;
}

ul {
	font-family: 'PT Sans', sans-serif;
}


ol {
	font-family: 'PT Sans', sans-serif;
}
